/* Place any CSS overrides in this file. */

#customify-link {
  width: 100%;
}

#tab-ref-add_layer {
  display: none !important;
}

#tab-ref-save_data {
  display: none !important;
}

#tab-ref-load_saved {
  display: none !important;
}

.editor_icons {
  display: none !important;
}

.product-medias__thumbnails {
  background-color: aqua;
  display: none !important;
}

.product--add-to-cart-button {
  display: none !important;
}

.shopify-payment-button {
  display: none !important;
}

.personalized_buy_button {
  background-color: transparent;
  border: 1px solid var(--primary-btn-bg-color);
  border-radius: 0.5rem;
  padding: 10px calc(15px + 20px);
}

.container-main{
  display: none !important
}

.upper-canvas {
  border: none !important
}

.lower-canvas{
    border: none !important
}
@media (min-width: 1024px) {
  .upper-canvas, .lower-canvas {
    height: 50% !important;
    aspect-ratio: 1.10 / 1 !important; /* Relación de aspecto basada en tus dimensiones */
}
}

.personalized_buy_link {
  color: #e6e5e7;
}

.kanan{
  display:none !important
}

.inner {
  display:none !important
}

.cst-font-styling{
  display:none !important
}

.custom-select-trigger {
  background-color: transparent !important;
  color: black !important;
  border: 1px solid black !important;
}
.cstfont-select custom-select{
  color: black !important
}
#toolbar{
  display:none !important
}

.jscolor{
  display:none !important
}

@media (max-width: 480px) {
  #custom-input-group {
    padding-left: 20%;
    padding-right: 20%;
  }
}
